/***********************************************************************************************
*
* Forms Index
*
************************************************************************************************/

label {
  color: $dark-blue-purple;
  padding: $form-field-padding;
  padding-left: 0;
  margin-top: $common-margin;
  &[for] {
    cursor: pointer;
  }
}

fieldset {
  border: none;
  padding: 0;
  //margin-bottom: $common-margin-lg;
  /* breakpoint */
  // @include breakpoint($md-lg) {
  //   margin-bottom: 0;
  // }

  fieldset {
    border: none;
  }
}

input {
  /*box model */
  border-radius: $common-border-radius;
  line-height: inherit;
  &:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
  }
}

input, select, textarea, %input, %select, %textarea {
  /* box model */
  outline: none;
  padding: $form-field-padding;
  /* color */
  background: $white;
  border: $common-border-size solid $grey;
  max-width: $common-form-field-max-width;
  &:focus {
    border: $common-border-size solid $dark-purple;
  }
}

select {
  /* box model */
  height: $select-height;
  width: 100%;
  /* color */
  border: $common-border-size solid $grey;
  /* breakpoint */
  @include breakpoint($md) {
    height: $select-height-md;
  }

  @include breakpoint($max) {
    height: $select-height-max;
  }
}

textarea {
  width: 100%;
}

[type="radio"] {
  margin: $common-margin;
}