/* ==========================================================================
   Breakpoints Variables
   ========================================================================== */
    //$xs is not to be used as a breakpoint for smallest containers
		$xs: 320px;
    $sm: 480px;
    $sm-md: 500px;
    $md: 768px;
    $max: 972px;

    //defined text breakpoints here, once you figure out all the text sizes.