/***********************************************************************************************
*
* Boxes Index
*
************************************************************************************************/

.box,
%box {
  @include box(baseLineHeights());
  margin: 0 auto;
  max-width: $max;
  width: 100%;
}

.home {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  @include breakpoint($md) {
    border-left: 1px dashed rgba(48, 121, 217, .5);
    border-right: 1px dashed rgba(48, 121, 217, .5);
  }

  .bearded-greetings{
    cursor: pointer;
    background-image:url("../media/images/bearded-greetings.png");
    background-position: top center;
    background-repeat: no-repeat;

    /*change the top two to be the right height********************************************************/
    @include atMedia(xs) {height: 299px; background-size: auto 598px;}
    @include atMedia(s) {height: 322px; background-size: auto 644px;}
    @include atMedia(m) {height: 354px; background-size: auto 708px;}

    &:hover{
      @include atMedia(xs) {background-position: center -299px;}
      @include atMedia(s) {background-position: center -322px;}
      @include atMedia(m) {background-position: center -354px;}
    }
  }
}

.home__beard-image {
  overflow: hidden;
  width: span(1 of 3);
  padding-right: gutter(3);

  &:hover {

    .home__beard-image--newer {
      display: none;
    }

    .home__beard-image--older {
      display: block;
    }
  }
}

.home__beard-image--older {
  display: none;
}

.home__rich-snippet {
  width: span(2 of 3);
  padding-left: gutter(3);
}

.about {
  background-color: #b3d92b;

  article {
    //size of image
    display: inline-block;
    min-height: 157px;

    &:first-child {
      margin-bottom: baseLineHeights();
    }

    .xs-title-pos{
      color: #000;
      @include atMedia(xs) {display: block; text-align: center;}
      @include atMedia(s) {display: none;}
      @include atMedia(m) {display: none;}
    }

    .motivation-img, .inspiration-img{
      margin: 0 10px 10px 0;
    }
    .motivation-img{
      float: left;
    }
    .inspiration-img{
      @include atMedia(xs) {float: left;}
      @include atMedia(s) {float: right; margin: 0 0 0 10px;}
      @include atMedia(m) {float: right; margin: 0 0 0 10px;}
    }
    .motivation-text,
    .inspiration-text{

      h1{
        color: #000;
        @include atMedia(xs) {display: none;}
        @include atMedia(s) {display: block;}
        @include atMedia(m) {display: block;}
      }
    }
    .inspiration-text{
      @include atMedia(xs) {text-align: left;}
      @include atMedia(s) {text-align: right;}
      @include atMedia(m) {text-align: right;}
    }
  }
}

.about__heading {
  color: $dark-grey;
}

.blog {

  article{
    display: inline-block;

    h1{
      color: #f07000;
    }

    img{
      float: left;
      margin: 10px 10px 10px 0;
      display: block;

      @include atMedia(xs) {width: 150px}
      @include atMedia(s) {width: 273px;}
      @include atMedia(m) {width: 273px;}
    }

    p{
      color: #f2f2f2;

      @include atMedia(xs) {margin: 5px 0 0 0}
      @include atMedia(s) {margin: 55px 0 0 0;}
      @include atMedia(m) {margin: 55px 0 0 0;}
    }
  }

  .tags {
    h3{
      color: #f07000;
      margin: 0 10px 0 0;

      @include atMedia(xs) {float: none; line-height: 31px; font-size: 18px;}
      @include atMedia(s) {float: left; line-height: 49px; font-size: 21px;}
      @include atMedia(m) {float: left; line-height: 66px; font-size: 24px;}
    }
    ul{
      padding: 0;

      @include atMedia(xs) {height: 31px;}
      @include atMedia(s) {height: 49px;}
      @include atMedia(m) {height: 66px;}

      li{
        list-style-type: none;
        float: left;
        margin: 0 10px 0 0;
        height: 100%;
        background-image: url("../media/images/all-blog-tags.png");

        @include atMedia(xs) {width: 36px; background-size: 216px auto;}
        @include atMedia(s) {width: 56px; background-size: 336px auto;}
        @include atMedia(m) {width: 76px; background-size: 456px auto;}
      }

      .science {

      }
      .design {
        @include atMedia(xs) {background-position: -36px 0;}
        @include atMedia(s) {background-position: -56px 0;}
        @include atMedia(m) {background-position: -76px 0;}
      }
      .technology {
        @include atMedia(xs) {background-position: -72px 0;}
        @include atMedia(s) {background-position: -112px 0;}
        @include atMedia(m) {background-position: -152px 0;}
      }
      .beard {
        @include atMedia(xs) {background-position: -108px 0;}
        @include atMedia(s) {background-position: -168px 0;}
        @include atMedia(m) {background-position: -228px 0;}
      }
      .humor {
        @include atMedia(xs) {background-position: -144px 0;}
        @include atMedia(s) {background-position: -224px 0;}
        @include atMedia(m) {background-position: -304px 0;}
      }
      .game {
        @include atMedia(xs) {background-position: -180px 0;}
        @include atMedia(s) {background-position: -280px 0;}
        @include atMedia(m) {background-position: -380px 0;}
      }

    }
  }
}

.blog__header {
  background-color: $dark-grey;
}
