/***********************************************************************************************
*
* Boxes Index
*
************************************************************************************************/

html {
  // box
  box-sizing: border-box;
}

*, *:before, *:after {
  // box
  box-sizing: inherit;
}

body{
  // box
  padding: $common-padding;
  // break
  @include breakpoint($max){
    // box
    padding: 0;
  }
}
/*---------- Start Box Block -----------*/
.box, %box{
  // box
  @include box(0);
}
/*---------- End Box Block -----------*/
.box--main-container{
  // block
  @extend %box;
}
.box--main-content{
  // block
  @extend %box;
  @include container($max);
  padding-bottom: 15px;
}
.box--nav-container{
  // block
  @extend %box;
  // box
  width: 100%;
  // color
  border-top: 3px solid $gray;
  border-bottom: 6px solid $dark-blue-purple;
}
