/***********************************************************************************************
*
* Footer Index
*
************************************************************************************************/

.footer--main {
  box-shadow: 0px -2px 2px $black;
  background-color: $dark-grey;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;

  a {
    font-family: 'Ubuntu', san-serif;
    color: #3079d9;

    &:hover {
      color: #b3d92b;
    }
  }

  span{
    color: #b3d92b;
  }
  @include atMedia(xs) {height: 25px; line-height: 25px; font-size: 1.15em;}
  @include atMedia(s) {height: 30px; line-height: 30px; font-size: 1.2em;}
  @include atMedia(m) {height: 35px; line-height: 35px; width: 970px; padding: 0 15px; margin: 0 auto; font-size: 1.2em;}
}