/***********************************************************************************************
*
* Lists Index
*
************************************************************************************************/
/*----------  ----------*/
ul, .list, %list {
  /* box model */
  list-style-type: none;
}
li, .list__item, %list__item{
  /* box model */
  overflow: auto;
}
.list--main-nav{
  /* block reference */
  @extend %list;
  /* box model */
  width: 100%;
  padding: 10px 0 0 0;

  .list__item--main-nav{
    /* block reference */
    @extend %list__item;
    /* box model */
    width: 25%;

    &:first-child{
      text-align: left;
    }
    &:last-child{
      text-align: right;
    }
  }

}