/***********************************************************************************************
*
* Media Index
*
************************************************************************************************/

img {
  width: 100%;
}

.logo{
  /* box model */
  //these are temp. styles as they will be replace by flexbox evnentually
  float: left;
  width: 10%;
}