@charset "UTF-8";

/* ==========================================================================
   Personal Website
   ========================================================================== */
/*
 * Don't write any css in here, just import your partials.
 * This will compile to css/style.css
 */

/* ==========================================================================
   Important!
   ========================================================================== */
/*
 * All partials and custom scss files have blocks with comment delimited sections.
 *	Those sections are:
 *  //block (block reference placeholders)
 *	//box (box model properties)
 *  //font (font properties)
 *  //break (breakpoint properties)
 *  //color (color properties)
 */

/*
 * Import Compass and Compass/Other plugins.
 */
@import "compass/typography/vertical_rhythm";
@import "modular-scale";
@import "breakpoint";
@import "susy";

//@import "../../../../bower_components/skeleton-sass/";

/*
 * This is where you start importing all of your partials.
 *
 * If you are styling objects from Scales, I recommend creating a partial with the same name
 * as the one in Scales and importing it here.
 *
 * With CSS Globbing Example:  use @import "partials/*" if you want to add all the style files in that directory.
 *
 * Regular Import Example: use @import "partials/nav" if you are adding style to the nav object.
 */
/*----- utilities -----*/
@import "partials/utilities/functions";
@import "partials/utilities/mixins";
//@import "partials/utilities/helpers";

/*----- third party vars/configurations -----*/
@import "partials/vars/custom-third-party/modular-scale-vars";

/*----- variables/configurations -----*/
@import "partials/vars/base/breakpoints";
@import "partials/vars/base/colors-vars";
@import "partials/vars/base/typography-vars";
@import "partials/vars/base/misc-vars";

/*----- third party vars/configurations dependent on base vars-----*/
@import "partials/vars/custom-third-party/scales2-vars";
@import "partials/vars/custom-third-party/susy2-config";
@import "partials/vars/custom-third-party/vertical-rhythm-compass-vars";

/*----- third party utilities -----*/
// @import "../../../bower_components/scales-utilities-normalize/normalize";
// @import "../../../bower_components/scales-utilities-clearfix/clearfix";

/*----- framework related -----*/
// @import "../../../bower_components/scales-base-blockquotes/blockquotes";
// @import "../../../bower_components/scales-base-lists/lists";
// @import "../../../bower_components/scales-base-forms/forms";
// @import "../../../bower_components/scales-patterns-box/box";
// @import "../../../bower_components/scales-patterns-horizontal-list/horizontal-list";
// @import "../../../bower_components/scales-patterns-media-object/media-object";
// @import "../../../bower_components/scales-patterns-flag/flag";
// @import "../../../bower_components/scales-patterns-buttons/buttons";

/*----- user defined styles -----*/
@import "partials/base/boxes";
// @import "partials/base/buttons";
@import "partials/base/media";
@import "partials/base/footer";
// @import "partials/base/forms";
@import "partials/base/header";
@import "partials/base/links";
// @import "partials/base/lists";
// @import "partials/base/nav";
// @import "partials/base/shortcodes";
// @import "partials/base/tables";
@import "partials/base/typography";

/*----- user defined styles for vendor stuff -----*/
//@import "partials/custom-third-party/masonry";
// @import "partials/custom-third-party/wp-generated";

/*----- overrides -----*/
// @import "partials/base/events";
// @import "partials/base/sticky";
// @import "../../../bower_components/scales-overrides-spacing/_spacing.scss";

.main{
	min-width: 100%;

	.container{

		.nav-to-home, .nav-to-about, .nav-to-blog, .nav-to-behind-the-beard, .nav-to-phantom-beard-syndrome{
			@include atMedia(xs) {display: block; visibility: hidden; height: 37px;}
			@include atMedia(s) {display: block; visibility: hidden; height: 47px;}
			@include atMedia(m) {display: block; visibility: hidden; height: 57px;}
		}

		.nav-to-about, .nav-to-blog, .nav-to-behind-the-beard, .nav-to-phantom-beard-syndrome{
			@include atMedia(xs) {margin: -37px 0 0 0;}
			@include atMedia(s) {margin: -47px 0 0 0;}
			@include atMedia(m) {margin: -57px 0 0 0;}
		}

		#blog-posts{
			padding: 20px 15px;

			article:last-child{
				margin: 0;
			}

			article{
				margin: 0 0 50px 0;

				.title-section{
					margin: 0;
					padding: 0 0 5px 0;
					border-bottom: 1px dashed rgba(64, 64, 64, 0.5);

					img{
						float: left;
						margin: 0 5px 0 0;

						@include atMedia(xs) {width: 26px;}
						@include atMedia(s) {width: 31px;}
						@include atMedia(m) {width: 36px;}

					}
					h3{
						color: #63b0f2;
						@include atMedia(xs) {line-height: 26px; font-size: 16px;}
						@include atMedia(s) {line-height: 31px; font-size: 18px;}
						@include atMedia(m) {line-height: 36px; font-size: 20px;}
					}
				}
				.post-content{

					a{
						color: #3079d9;
					}
					a:hover{
						color: #b3d92b;
					}

					figure{

						margin: 10px 0;

						img{
							width: 100%;
							box-sizing: border-box;
						}

						figcaption{
							color: #63b0f2;
							font-family: 'Ubuntu', san-serif;

								@include atMedia(xs) {font-size: 0.75em;}
								@include atMedia(s) {font-size: 0.9em;}
								@include atMedia(m) {font-size: 1.05em;}
						}

					}

					.subtitle{
						color: #000;
						font-family: 'Droid Serif', serif;
						margin: 15px 0 5px 0;

						@include atMedia(xs) {font-size: 18px;}
						@include atMedia(s) {font-size: 21px;}
						@include atMedia(m) {font-size: 24px;}
					}

					p:last-child{
						margin: 0;

					}

					.small-tags{
						margin: 20px 0 0 0;

						h4{
							float: left;
							margin: 0 10px 0 0;
							color: #404040;

							@include atMedia(xs) {font-size: 14px; line-height: 29px;}
							@include atMedia(s) {font-size: 16px; line-height: 32px;}
							@include atMedia(m) {font-size: 18px; line-height: 35px;}

						}

						ul{


							li{
								list-style-type: none;
								background-image:url("../media/images/blog-post-section/all-blog-tags-sm.png");
								float: left;
								@include atMedia(xs) {width: 29px; height: 29px; background-size: 174px auto;}
								@include atMedia(s) {width: 32px; height: 32px; background-size: 192px auto;}
								@include atMedia(m) {width: 35px; height: 35px; background-size: 210px auto;}
							}

							.science-sm{

							}
							.design-sm{
								@include atMedia(xs) {background-position: -29px 0;}
								@include atMedia(s) {background-position: -32px 0;}
								@include atMedia(m) {background-position: -35px 0;}
							}
							.technology-sm{
								@include atMedia(xs) {background-position: -58px 0;}
								@include atMedia(s) {background-position: -64px 0;}
								@include atMedia(m) {background-position: -70px 0;}
							}
							.beard-sm{
								@include atMedia(xs) {background-position: -87px 0;}
								@include atMedia(s) {background-position: -96px 0;}
								@include atMedia(m) {background-position: -105px 0;}
							}
							.humor-sm{
								@include atMedia(xs) {background-position: -116px 0;}
								@include atMedia(s) {background-position: -128px 0;}
								@include atMedia(m) {background-position: -140px 0;}
							}
							.game-sm{
								@include atMedia(xs) {background-position: -145px 0;}
								@include atMedia(s) {background-position: -160px 0;}
								@include atMedia(m) {background-position: -175px 0;}

							}
						}
					}
					//Padding is same size as calendar icon.
					@include atMedia(xs) {padding: 0 26px;}
					@include atMedia(s) {padding: 0 31px;}
					@include atMedia(m) {padding: 0  36px;}
				}
			}

			/*Blog Posts***********************************************************************************/

			#phantom-beard-syndrome{


				.post-content{

					figure{

						img#new-beard{

							border: 1px dashed rgba(64, 64, 64, 0.5);

						}
					}

				}

			}

			#behind-the-beard{

				.post-content{

					figure{

						.image-container{

						}
						.image-container:first-child{
							padding-left: 0;
						}
						.image-container:last-child{
							padding-right: 0;
						}
					}
				}
			}

			/*The End Of The Blog Posts Section*********************************************************/
		}

		//.container changes
		@include atMedia(xs) {margin: 0 0 25px 0;}
		@include atMedia(s) {margin: 0 0 30px 0; width: auto;}
		@include atMedia(m) {margin: 0 auto 35px auto; width: 970px;}
	}
}