/* ==========================================================================
   Colors Variables
   ========================================================================== */

/* Colors------------------------------------------------------------------- */
$mariner: #3079d9;
$light-mariner: #63b0f2;
$key-lime-pie: #b3d92b;
$clementine: #f07000;
$super-light-grey: #f2f2f2;
$light-grey: #cccccc;
$grey: #aaaaaa;
$dark-grey: #404040;
$white: #ffffff;
$black: #222222;


/* Color Elements----------------------------------------------------------- */

// $link-color: $dark-blue-purple;
// $link-color-hover: $black;
// $link-color-visited: $black;

$disabled-color: $grey;
$disabled-color-light: $light-grey;
$disabled-color-dark: $dark-grey;

$button-color-light: $mariner;
$button-color-hover: $key-lime-pie;
$button-color-dark: $dark-grey;

// $h1-color: $black;
// $h2-color: $black;
// $h3-color: $black;
// $h4-color: $black;
// $h5-color: $black;
// $h6-color: $black;

// $h1-color-with-bg: $white;
// $h2-color-with-bg: $white;
// $h3-color-with-bg: $white;
// $h4-color-with-bg: $white;
// $h5-color-with-bg: $white;
// $h6-color-with-bg: $white;

// $body-color: $black;
// $body-color-with-bg: $white;